# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.InventoryManagement.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Kiduyu-Klaus\Downloads\New folder\Asp Code 1\.idea\.idea.InventoryManagement\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
